<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<meta
			name="description"
			content='Watch "Chatbot are thw orst" on Streamable.'
		/>
		<link rel="canonical" href="https://storage.googleapis.com/knock-extension/test-corgi.mp4" />
		<link
			rel="alternate"
			type="application/json+oembed"
			title="oEmbed"
			href="https://api.streamable.com/oembed?url=https://storage.googleapis.com/knock-extension/test-corgi.mp4"
		/>
		<meta
			property="og:title"
			content="Watch Chatbot are thw orst | Streamable"
		/>
		<meta property="og:url" content="https://storage.googleapis.com/knock-extension/test-corgi.mp4" />
		<meta property="og:site_name" content="Streamable" />
		<meta
			property="og:image"
			content="https://storage.googleapis.com/knock-extension/assets/knock-logo.svg"
		/>
		<meta property="og:image:width" content="746" />
		<meta property="og:image:height" content="718" />
		<meta
			property="og:image:alt"
			content="Watch Chatbot are thw orst | Streamable"
		/>
		<meta
			property="og:image:secure_url"
			content="https://storage.googleapis.com/knock-extension/assets/knock-logo.svg"
		/>
		<meta
			property="og:video:url"
			content="https://cdn-cf-east.streamable.com/video/mp4/dv742a.mp4?Expires=1717756114320&amp;Key-Pair-Id=APKAIEYUVEN4EVB2OKEQ&amp;Signature=Ds0neIK~fuNxEas4a10bk8-5bvzA6JYWnbFc39S1hojobQyieBo9DpHYi51ppweHeDwpi97f0S0WT1loAnXDCQK26~pYIJ2nIC0Euii6oTM8M4rylZKhkBeY5JN2C37gXlIgIDEhdh-wz-3FH-gw6yOpYpzz7mWETL1uzxWYlchhajeYK3rfSL3zvwTD2GBYCgi2zjq44P11UhIU6HXvlRtKvEYQjO73rY1I2u87hiADe23IoKS~lQj9Ru5IUkbzJM5U8K6V4UERQlChQwUmXODbE0Dx66~AJnZQ7pDjOT3BWkeEqdGXbNIPh5cCz5yAWKMQFoRu-WmG1DubTVtFqA__"
		/>
		<meta property="og:video:type" content="video/mp4" />
		<meta property="og:video:width" content="746" />
		<meta property="og:video:height" content="718" />
		<meta property="og:type" content="video.other" />
		<meta name="next-size-adjust" />
	</head>

	<body>
		<video id="videoPlayer" controls width="640" height="360">
			Your browser does not support the video tag.
		</video>


		<script>
			document.addEventListener('DOMContentLoaded', function() {
				const videoPlayer = document.getElementById('videoPlayer');
				const videoUrl = 'https://api-f.streamable.com/api/v1/videos/dv742a/mp4';

				if(videoPlayer) {
					videoPlayer.src = videoUrl;
					videoPlayer.load();
				}
			});
		</script>
	</body>
</html>
