<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link
			rel="preload"
			href="https://ui-statics-cf.streamable.com/player/_next/static/media/3534416bbfdcc9be-s.p.woff2"
			as="font"
			crossorigin=""
			type="font/woff2"
		/>
		<link
			rel="stylesheet"
			href="https://ui-statics-cf.streamable.com/player/_next/static/css/d8cc49bdd1092006.css"
			data-precedence="next"
		/>
		<link
			rel="stylesheet"
			href="https://ui-statics-cf.streamable.com/player/_next/static/css/54ed307b1b61a500.css"
			data-precedence="next"
		/>
		<link
			rel="preload"
			as="script"
			fetchpriority="low"
			href="https://ui-statics-cf.streamable.com/player/_next/static/chunks/webpack-9496c370f21167ff.js"
		/>
		<script
			src="https://ui-statics-cf.streamable.com/player/_next/static/chunks/b503d721-5a3dce0fec874dfc.js"
			async=""
		></script>
		<script
			src="https://ui-statics-cf.streamable.com/player/_next/static/chunks/1515-6b2c8075fc930cf9.js"
			async=""
		></script>
		<script
			src="https://ui-statics-cf.streamable.com/player/_next/static/chunks/main-app-61cdc64ecbe6c716.js"
			async=""
		></script>
		<link
			rel="preload"
			href="https://www.googletagmanager.com/gtag/js?id=G-P6QBGXDK3N"
			as="script"
		/>
		<title>Watch Chatbot are thw orst | Streamable</title>

		<meta
			name="description"
			content='Watch "Chatbot are thw orst" on Streamable.'
		/>
		<link rel="canonical" href="https://streamable.com/dv742a" />
		<link
			rel="alternate"
			type="application/json+oembed"
			title="oEmbed"
			href="https://api.streamable.com/oembed?url=https://streamable.com/dv742a"
		/>
		<meta
			property="og:title"
			content="Watch Chatbot are thw orst | Streamable"
		/>
		<meta property="og:url" content="https://streamable.com/dv742a" />
		<meta property="og:site_name" content="Streamable" />
		<meta
			property="og:image"
			content="https://storage.googleapis.com/knock-extension/assets/knock-logo.svg"
		/>
		<meta property="og:image:width" content="746" />
		<meta property="og:image:height" content="718" />

		<meta
			property="og:video:url"
			content="https://storage.googleapis.com/knock-extension/test-video.mp4"
		/>
		<meta property="og:video:type" content="video/mp4" />
		<meta property="og:video:width" content="746" />
		<meta property="og:video:height" content="718" />
		<meta property="og:type" content="video.other" />
	</head>

	<body>
		<video id="videoPlayer" controls width="640" height="360">
			Your browser does not support the video tag.
		</video>


		<script>
			document.addEventListener('DOMContentLoaded', function() {
				const videoPlayer = document.getElementById('videoPlayer');
				const videoUrl = 'https://storage.googleapis.com/knock-extension/test-video.mp4';

				if(videoPlayer) {
					videoPlayer.src = videoUrl;
					videoPlayer.load();
				}
			});
		</script>
	</body>
</html>
