<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:type" content="video">
    <meta property="og:video" content="https://www.youtube.com/watch?v=Cdip-jrGfNs">
    <meta property="og:video:type" content="video/mp4">
    <meta property="og:video:width" content="560">
    <meta property="og:video:height" content="315">
</head>
<body>
<div id="root"></div>
</body>
</html>