<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--    <meta property="og:type"               content="article" />-->
<!--    <meta property="og:title"              content="Some long title Some long title Some long title" />-->
<!--    <meta property="og:description"        content="Some long description Some long description Some long description Some long description" />-->
<!--    <meta property="og:image"              content="https://api.knock-ai.com/resources/assets/v1/195ff9f2-9f3b-492b-adaf-a11221768483/00aed261-8549-4b4a-b520-529455a42ae9.png" />-->
<!--    <meta property="og:image:width"        content="300" />-->
<!--    <meta property="og:image:height"       content="50" />-->

    <!-- Open Graph meta tags for video preview -->
    <meta property="og:type" content="video">
    <meta property="og:video" content="https://www.youtube.com/watch?v=Cdip-jrGfNs">
    <meta property="og:video:type" content="video/mp4">
    <meta property="og:video:width" content="560">
    <meta property="og:video:height" content="315">

    <!-- Other required Open Graph meta tags -->
    <style>
        #og-image {
            width: 1200px; /* Set the desired width */
            height: 630px; /* Set the desired height */
        }
    </style>
</head>
<body>
<div id="root"></div>
</body>
</html>