<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--	<meta charset="UTF-8">-->
<!--	<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--	<title>Video Preview Page</title>-->

<!--&lt;!&ndash;	<link rel="canonical" href="https://storage.googleapis.com/knock-extension/test-video.mp4">&ndash;&gt;-->

<!--&lt;!&ndash;	&lt;!&ndash; Open Graph Meta Tags &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;	<meta property="og:title" content="Your Video Title" />&ndash;&gt;-->
<!--&lt;!&ndash;	<meta property="og:description" content="A brief description of your video." />&ndash;&gt;-->
<!--&lt;!&ndash;	<meta property="og:type" content="video.other" />&ndash;&gt;-->
<!--&lt;!&ndash;	<meta property="og:url" content="https://yourwebsite.com/your-video-page.html" />&ndash;&gt;-->
<!--&lt;!&ndash;	<meta property="og:video" content="https://storage.googleapis.com/knock-extension/test-video.mp4" />&ndash;&gt;-->
<!--&lt;!&ndash;	<meta property="og:video:secure_url" content="https://storage.googleapis.com/knock-extension/test-video.mp4" />&ndash;&gt;-->
<!--&lt;!&ndash;	<meta property="og:video:type" content="text/html" />&ndash;&gt;-->
<!--&lt;!&ndash;	<meta property="og:video:width" content="1280" />&ndash;&gt;-->
<!--&lt;!&ndash;	<meta property="og:video:height" content="720" />&ndash;&gt;-->
<!--&lt;!&ndash;	<meta property="og:image" content="https://storage.googleapis.com/knock-extension/assets/knock-logo.svg" />&ndash;&gt;-->

<!--&lt;!&ndash;	&lt;!&ndash; Twitter Card Meta Tags &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;	<meta name="twitter:card" content="player" />&ndash;&gt;-->
<!--&lt;!&ndash;	<meta name="twitter:title" content="Your Video Title" />&ndash;&gt;-->
<!--&lt;!&ndash;	<meta name="twitter:description" content="A brief description of your video." />&ndash;&gt;-->
<!--&lt;!&ndash;	<meta name="twitter:site" content="@YourTwitterHandle" />&ndash;&gt;-->
<!--&lt;!&ndash;	<meta name="twitter:player" content="https://storage.googleapis.com/knock-extension/test-video.mp4" />&ndash;&gt;-->
<!--&lt;!&ndash;	<meta name="twitter:player:width" content="1280" />&ndash;&gt;-->
<!--&lt;!&ndash;	<meta name="twitter:player:height" content="720" />&ndash;&gt;-->
<!--&lt;!&ndash;	<meta name="twitter:image" content="https://storage.googleapis.com/knock-extension/assets/knock-logo.svg" />&ndash;&gt;-->


<!--</head>-->
<!--<body>-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Embedded Video</title>
	<style>
		body {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100vh;
			margin: 0;
		}
		video {
			width: 100%;
			max-width: 800px;
		}
	</style>
</head>
<body>
<iframe src="https://video-preview-18-66e9654ef3d6.herokuapp.com/player/<%=videoId%>" width="300px" height="550px"></iframe>
</body>
</html>



<!--// link -> inject video-->
<!--// video from knock-->
<!--// linkedIn-->
<!--// ASAP-->