<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Video Preview Page</title>

	<link rel="canonical" href="https://storage.googleapis.com/knock-extension/test-video.mp4">
	<!-- Open Graph Meta Tags -->
	<meta property="og:title" content="Your Video Title" />
	<meta property="og:image" content="https://storage.googleapis.com/knock-extension/assets/knock-logo.svg" />
	<meta property="og:description" content="A brief description of your video." />
	<meta property="og:url" content="https://video-preview-15-d43d0b091c1c.herokuapp.com/" />
	<meta property="og:video" content="https://storage.googleapis.com/knock-extension/test-video.mp4" />
	<meta property="og:video:type" content="video/mp4" />
	<meta property="og:video:width" content="1280" />
	<meta property="og:video:height" content="720" />
	<meta property="og:type" content="video" />

	<!-- Twitter Card Meta Tags -->
	<meta name="twitter:card" content="player" />
	<meta name="twitter:title" content="Your Video Title" />
	<meta name="twitter:description" content="A brief description of your video." />
	<meta name="twitter:player" content="https://storage.googleapis.com/knock-extension/test-video.mp4" />
	<meta name="twitter:player:url" content="https://storage.googleapis.com/knock-extension/test-video.mp4" />
	<meta name="twitter:player:stream" content="https://storage.googleapis.com/knock-extension/test-video.mp4">
	<meta name="twitter:player:width" content="1280" />
	<meta name="twitter:player:height" content="720" />
	<meta name="twitter:image" content="https://storage.googleapis.com/knock-extension/assets/knock-logo.svg" />

</head>
<body>
</body>
</html>