<html>
	<head>
		<link rel="canonical" href="https://streamable.com/2zsmq8" />
		<link
			rel="alternate"
			type="application/json+oembed"
			title="oEmbed"
			href="https://api.streamable.com/oembed?url=https://streamable.com/2zsmq8"
		/>
		<meta property="og:url" content="https://streamable.com/2zsmq8" />
		<meta
			property="og:video:url"
			content="https://cdn-cf-east.streamable.com/video/mp4/2zsmq8.mp4?Expires=1717845945879&amp;Key-Pair-Id=APKAIEYUVEN4EVB2OKEQ&amp;Signature=fk8Yz0lif3Pmoyma30wTIWEMpUO6q0IC5V2Ti0zHXEuTzBQsS3uQV7dhnG-uGqyYF4e0JXRUT8OMAthg0QUPucUTIbFsOxI10bccSRNSbvKsBLXav2aWM97fDKCrV4SqF9LlcT2UaF38uq2h3rGUGbVbMxDV7XXEedEplfP37G1SUS2urWtrcorRur8ehH48t42DX1nZ-k5GziYw8QCImuZHklnWjq2h0Vj50WXSxBMwEeakKi9RHEKUhaWJ~xhzf-PwJetGPAlxMLPVcFVyWTg9h0~pLt1Hh6KJRfnRfypz-8RfzVHbRnI4nv9KeAX-ssR2SP4LO7tj-qcXZCfg3w__"
		/>
		<meta
			property="og:video:secure_url"
			content="https://api-f.streamable.com/api/v1/videos/2zsmq8/mp4"
		/>
		<meta property="og:video:type" content="video/mp4" />
		<meta property="og:video:width" content="720" />
		<meta property="og:video:height" content="1280" />
		<meta property="og:type" content="video.other" />
	</head>
	<body></body>
</html>
