<html>
	<head>
		<link rel="canonical" href="https://streamable.com/2zsmq8" />
		<link
			rel="alternate"
			type="application/json+oembed"
			title="oEmbed"
			href="https://test-video-24-ba35171636fd.herokuapp.com/oembed"
		/>
	</head>
	<body></body>
</html>
