<html lang="en" class="__className_6fe9f1 __variable_6fe9f1">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link
			rel="preload"
			href="https://ui-statics-cf.streamable.com/player/_next/static/media/3534416bbfdcc9be-s.p.woff2"
			as="font"
			crossorigin=""
			type="font/woff2"
		/>
		<link
			rel="stylesheet"
			href="https://ui-statics-cf.streamable.com/player/_next/static/css/d8cc49bdd1092006.css"
			data-precedence="next"
		/>
		<link
			rel="preload"
			as="script"
			fetchpriority="low"
			href="https://ui-statics-cf.streamable.com/player/_next/static/chunks/webpack-9496c370f21167ff.js"
		/>
		<script
			src="https://ui-statics-cf.streamable.com/player/_next/static/chunks/b503d721-5a3dce0fec874dfc.js"
			async=""
		></script>
		<script
			src="https://ui-statics-cf.streamable.com/player/_next/static/chunks/1515-6b2c8075fc930cf9.js"
			async=""
		></script>
		<script
			src="https://ui-statics-cf.streamable.com/player/_next/static/chunks/main-app-61cdc64ecbe6c716.js"
			async=""
		></script>
		<script
			src="https://ui-statics-cf.streamable.com/player/_next/static/chunks/6584-0f988779d124bdf8.js"
			async=""
		></script>
		<script
			src="https://ui-statics-cf.streamable.com/player/_next/static/chunks/4278-06e7cf0f36cc9961.js"
			async=""
		></script>
		<script
			src="https://ui-statics-cf.streamable.com/player/_next/static/chunks/app/layout-60488b1eba6a34b1.js"
			async=""
		></script>
		<script
			src="https://ui-statics-cf.streamable.com/player/_next/static/chunks/9460-89581a80226b151c.js"
			async=""
		></script>
		<script
			src="https://ui-statics-cf.streamable.com/player/_next/static/chunks/4250-7b21d4501639c665.js"
			async=""
		></script>
		<script
			src="https://ui-statics-cf.streamable.com/player/_next/static/chunks/app/o/%5Bshortcode%5D/page-0caa31ab835d71dc.js"
			async=""
		></script>
		<link
			rel="preload"
			href="https://www.googletagmanager.com/gtag/js?id=G-P6QBGXDK3N"
			as="script"
		/>
		<title>Узнал страшную правду 30ти летнего мотора Форда😱 - Embed</title>
		<meta name="description" content="Watch this embedded Streamable video." />
		<link rel="canonical" href="https://streamable.com/2zsmq8" />
		<link
			rel="alternate"
			type="application/json+oembed"
			title="oEmbed"
			href="https://api.streamable.com/oembed?url=https://streamable.com/2zsmq8"
		/>
		<meta
			property="og:title"
			content="Узнал страшную правду 30ти летнего мотора Форда😱 - Embed"
		/>
		<meta property="og:url" content="https://streamable.com/2zsmq8" />
		<meta property="og:site_name" content="Streamable" />
		<meta
			property="og:image"
			content="https://cdn-cf-east.streamable.com/image/2zsmq8.jpg?Expires=1717847797198&amp;Key-Pair-Id=APKAIEYUVEN4EVB2OKEQ&amp;Signature=aWntWJHsA~k0ROlWFTCz~4gZ2kB~K2KV6f-CSP5ANUUxvvEBDG2IX2bPsBIPbSkVSYfDso7cedGXhrV603weGfcdYa8oVJqGNo6xtpzQmvsN4n8Tp-cPaolMIvpkMwMi6LrDDxzb4UfpZXrgYEFrwzmB3klFR-Sg2Bia-vDeNED~kWSjOlaOiYaDVM2c6LrY969Qg4Qy42LiIO~vf~k3d3ZyZwBFppwd0eQv8rHVISLJ1-v4J6mPxkco4HE6y1XVjHTdcMvl7KVvuViL2q4WSlTJd03UwsHhRRaQJwHZnN9Thj4Hk9H7HbNam7InCGqdzidYfJWIkNqcLFzoJSZcfw__"
		/>
		<meta property="og:image:width" content="720" />
		<meta property="og:image:height" content="1280" />
		<meta
			property="og:image:alt"
			content="Узнал страшную правду 30ти летнего мотора Форда😱 - Embed"
		/>
		<meta
			property="og:image:secure_url"
			content="https://cdn-cf-east.streamable.com/image/2zsmq8.jpg?Expires=1717847797198&amp;Key-Pair-Id=APKAIEYUVEN4EVB2OKEQ&amp;Signature=aWntWJHsA~k0ROlWFTCz~4gZ2kB~K2KV6f-CSP5ANUUxvvEBDG2IX2bPsBIPbSkVSYfDso7cedGXhrV603weGfcdYa8oVJqGNo6xtpzQmvsN4n8Tp-cPaolMIvpkMwMi6LrDDxzb4UfpZXrgYEFrwzmB3klFR-Sg2Bia-vDeNED~kWSjOlaOiYaDVM2c6LrY969Qg4Qy42LiIO~vf~k3d3ZyZwBFppwd0eQv8rHVISLJ1-v4J6mPxkco4HE6y1XVjHTdcMvl7KVvuViL2q4WSlTJd03UwsHhRRaQJwHZnN9Thj4Hk9H7HbNam7InCGqdzidYfJWIkNqcLFzoJSZcfw__"
		/>
		<meta
			property="og:video:url"
			content="https://cdn-cf-east.streamable.com/video/mp4/2zsmq8.mp4?Expires=1717847797195&amp;Key-Pair-Id=APKAIEYUVEN4EVB2OKEQ&amp;Signature=PNL8IFCKN~ttED5Z0Hg57B2O2reJkTE7oVby5XV9HhMDiNifDwAWoYaQuiJLT60njzJ4UJxAx567AIMuUi9Yw-h1Ah5f3xTrBQE2aRdUl~yTs~w-YRqDkgcWHjW6ziOTozOLFKE3IYmU4vUFhcjsL9rMf4~AgAaUHQsX3jUmy6jPEiADOOF5zLMbuKxZmjBcTqFVNU7IiBkUdk9epnFS9Zkx6IXglRks7SGqzxhfVzypNvDR02q6UHY0QVfAgpOg6FD55F2OJs7b8Gw88X-bDJLMOU81Jg6wfnrnscT-IuwBahZhbaFUiQSAksHoNgh3LvU-oh4pKpkzmSRuO2QGGQ__"
		/>
		<meta
			property="og:video:secure_url"
			content="https://api-f.streamable.com/api/v1/videos/2zsmq8/mp4"
		/>
		<meta property="og:video:type" content="video/mp4" />
		<meta property="og:video:width" content="720" />
		<meta property="og:video:height" content="1280" />
		<meta property="og:type" content="video.other" />

	</head>
	<body class="overscroll-none">
		<div
			id="loop-theme-variables-container"
		>
			<div class="h-screen w-screen flex justify-center items-center">
				<div class="w-full h-full">
					<div
						class="player svp-desktop-player svp-chrome svp-desktop svp-macos svp-show-controls svp-l-size svp-paused-state"
						id="player-2zsmq8"
						tab-index="0"
					>
						<video
							preload="none"
							tabindex="-1"
							data-id="player-2zsmq8"
							style="visibility: visible"
						>
							<source
								src="https://storage.googleapis.com/knock-extension/test-video.mp4"
							/>
						</video>
						<div
							class="svp-poster svp-hidden"
							style="
								background-image: url('https://cdn-cf-east.streamable.com/image/2zsmq8.jpg?Expires=1717847797198&amp;Key-Pair-Id=APKAIEYUVEN4EVB2OKEQ&amp;Signature=aWntWJHsA~k0ROlWFTCz~4gZ2kB~K2KV6f-CSP5ANUUxvvEBDG2IX2bPsBIPbSkVSYfDso7cedGXhrV603weGfcdYa8oVJqGNo6xtpzQmvsN4n8Tp-cPaolMIvpkMwMi6LrDDxzb4UfpZXrgYEFrwzmB3klFR-Sg2Bia-vDeNED~kWSjOlaOiYaDVM2c6LrY969Qg4Qy42LiIO~vf~k3d3ZyZwBFppwd0eQv8rHVISLJ1-v4J6mPxkco4HE6y1XVjHTdcMvl7KVvuViL2q4WSlTJd03UwsHhRRaQJwHZnN9Thj4Hk9H7HbNam7InCGqdzidYfJWIkNqcLFzoJSZcfw__');
							"
						></div>
						<div class="svp-events-catcher">
							<div class="svp-center-container">
								<div
									class="svp-icon svp-icon-spinner svp-buffering-wheel svp-spinner"
								></div>
								<div class="svp-circle">
									<div
										class="svp-icon svp-icon-link svp-button svp-copy-url"
									></div>
									<div
										class="svp-icon svp-icon-code svp-button svp-copy-embed"
									></div>
									<div
										class="svp-icon svp-icon-done svp-button svp-copy-done"
									></div>
									<div
										class="svp-button svp-button-play svp-icon svp-icon-play"
										aria-label="Play (k)"
										role="button"
									></div>
									<div
										class="svp-button svp-button-pause svp-icon svp-icon-pause"
										aria-label="Pause (k)"
									></div>
								</div>
								<div
									class="svp-button svp-button-replay svp-icon svp-icon-replay"
									aria-label="Replay (k)"
								></div>
								<div class="svp-replay-cta">Watch again</div>
								<div class="svp-info svp-info__low-network">
									Stream will resume when your device's connection improves
								</div>
							</div>
						</div>
						<div class="svp-controls_bg"></div>
						<div class="svp-controls">
							<div class="svp-controls_left">
								<div class="svp-controls_ppbuttons">
									<button
										class="svp-button svp-button-play svp-icon svp-icon-play"
										aria-label="Play (k)"
										role="button"
										tooltip="Play (k)"
										tab-index="1"
									></button
									><button
										class="svp-button svp-button-replay svp-icon svp-icon-replay"
										aria-label="Replay (k)"
										tooltip="Replay (k)"
										tab-index="1"
									></button
									><button
										class="svp-button svp-button-pause svp-icon svp-icon-pause"
										aria-label="Pause (k)"
										tooltip="Pause (k)"
										tab-index="1"
									></button>
								</div>
								<button
									class="svp-button svp-button-seek-back svp-icon svp-icon-seek-back"
									tooltip="Seek back (j)"
									aria-label="Seek back (j)"
									tab-index="2"
								></button
								><button
									class="svp-button svp-button-seek-forward svp-icon svp-icon-seek-forward"
									tooltip="Seek forward (l)"
									aria-label="Seek forward (l)"
									tab-index="3"
								></button>
								<div class="svp-volume">
									<button
										class="svp-button svp-button-volume svp-icon svp-icon-volume-mute"
										tooltip="Unmute (m)"
										aria-label="Unmute (m)"
										tab-index="4"
									></button>
									<div class="svp-volume-slider">
										<div class="svp-volume-slider_progress-bar">
											<div
												class="svp-volume-slider_progress"
												style="width: 0px"
											></div>
											<div
												class="svp-volume-slider_peg"
												style="left: 0px"
											></div>
										</div>
									</div>
								</div>
							</div>
							<div class="svp-controls_center">
								<div class="svp-time-labels">
									<span class="svp-elapsed">0:01</span><span>/</span
									><span class="svp-total">0:57</span>
								</div>
							</div>
							<div class="svp-controls_right" style="overflow: visible">
								<button
									class="svp-button svp-button-text svp-button-speed"
									tooltip="Speed (s)"
									aria-label="Speed (s)"
									tab-index="5"
									style="display: block"
								>
									1x</button
								><button
									class="svp-button svp-button-options svp-icon svp-icon-options"
									tooltip="Options (o)"
									aria-label="Options (o)"
									tab-index="6"
								></button
								><button
									class="svp-button svp-button-pip svp-icon svp-icon-pip"
									tooltip="PIP (i)"
									tab-index="7"
									aria-label="PIP (i)"
								></button
								><button
									class="svp-button svp-button-fullscreen svp-icon svp-icon-fullscreen-off"
									tooltip="Full screen (f)"
									aria-label="Full screen (f)"
									tab-index="8"
								></button
								><a
									class="svp-brand-logo svp-streamable-logo"
									tab-index="9"
									href="https://streamable.com?src_player=player-video-logo"
									target="_blank"
									><img
										src="https://statics.streamable.com/static/streamable-logo-mono.svg"
										height="20px"
								/></a>
							</div>
							<div class="svp-seek-bar">
								<div class="svp-seek-bar_progress-container">
									<div class="svp-seek-bar_seek-to"></div>
									<div
										class="svp-seek-bar_progress"
										style="left: -98.2291%"
									></div>
									<div
										class="svp-buffer"
										style="left: 0%; width: 28.6503%"
									></div>
								</div>
								<div class="svp-seek-bar_peg" style="left: 1.77093%"></div>
								<div
									class="svp-seek-bar_time svp-hidden"
									style="left: 18.8426px"
								>
									0:01
								</div>
							</div>
						</div>
						<div class="svp-context-menu" style="left: -280px; top: -176px">
							<div class="svp-context-menu_page svp-visible">
								<div class="svp-menu-item">
									<div class="svp-menu-item-title">
										<div class="svp-icon svp-icon-link"></div>
										<div class="svp-menu-item-title_text">Copy video URL</div>
									</div>
								</div>
								<div class="svp-menu-item">
									<div class="svp-menu-item-title">
										<div class="svp-icon svp-icon-link"></div>
										<div class="svp-menu-item-title_text">
											Copy video URL at current time
										</div>
									</div>
								</div>
								<div class="svp-menu-item">
									<div class="svp-menu-item-title">
										<div class="svp-icon svp-icon-code"></div>
										<div class="svp-menu-item-title_text">Copy embed code</div>
									</div>
								</div>
								<div class="svp-menu-item">
									<div class="svp-menu-item-title">
										<div class="svp-icon svp-icon-bug-report"></div>
										<div class="svp-menu-item-title_text">Copy debug info</div>
									</div>
								</div>
								<div class="svp-menu-item">
									<div class="svp-menu-item-title">
										<div class="svp-icon svp-icon-report"></div>
										<div class="svp-menu-item-title_text">Report Content</div>
									</div>
								</div>
							</div>
						</div>
						<div class="svp-tooltip svp-hidden">Unmute (m)</div>
						<div class="svp-options">
							<div
								class="svp-options-page svp-options-page--main svp-options-page--active"
								tab-index="0"
							>
								<div
									class="svp-options-item svp-options-item--header"
									aria-label="Playback speed"
									role="button"
									tab-index="0"
								>
									<div class="svp-options-item-title">Playback speed</div>
									<div class="svp-icon svp-icon-close svp-page-close"></div>
								</div>
								<div class="svp-options-page-items">
									<div
										class="svp-options-item"
										data="0.5"
										aria-label="0.5x"
										role="button"
										tab-index="0"
									>
										<div class="svp-icon svp-icon-done"></div>
										<span>0.5x</span>
									</div>
									<div
										class="svp-options-item"
										data="0.75"
										aria-label="0.75x"
										role="button"
										tab-index="0"
									>
										<div class="svp-icon svp-icon-done"></div>
										<span>0.75x</span>
									</div>
									<div
										class="svp-options-item svp-options-item--active"
										data="1"
										aria-label="Normal"
										role="button"
										tab-index="0"
									>
										<div class="svp-icon svp-icon-done"></div>
										<span>Normal</span>
									</div>
									<div
										class="svp-options-item"
										data="1.25"
										aria-label="1.25x"
										role="button"
										tab-index="0"
									>
										<div class="svp-icon svp-icon-done"></div>
										<span>1.25x</span>
									</div>
									<div
										class="svp-options-item"
										data="1.5"
										aria-label="1.5x"
										role="button"
										tab-index="0"
									>
										<div class="svp-icon svp-icon-done"></div>
										<span>1.5x</span>
									</div>
									<div
										class="svp-options-item"
										data="2"
										aria-label="2x"
										role="button"
										tab-index="0"
									>
										<div class="svp-icon svp-icon-done"></div>
										<span>2x</span>
									</div>
								</div>
							</div>
						</div>
						<div class="svp-options">
							<div
								class="svp-options-page svp-options-page--main svp-options-page--active"
								tab-index="0"
							>
								<div class="svp-options-page-items">
									<div
										class="svp-options-item svp-options-item--list svp-hidden"
										aria-label="Playback speed"
										role="button"
										tab-index="0"
									>
										Playback speed
										<div class="svp-options-item__current">
											<div>Normal</div>
											<div class="svp-icon svp-icon-arrow-right"></div>
										</div>
									</div>
									<div
										class="svp-options-item svp-options-item--list"
										aria-label="Video quality"
										role="button"
										tab-index="0"
									>
										Video quality
										<div class="svp-options-item__current">
											<div>1280<sup>HD</sup></div>
											<div class="svp-icon svp-icon-arrow-right"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="svp-options-page" tab-index="0">
								<div
									class="svp-options-item svp-options-item--header"
									aria-label="Playback speed"
									role="button"
									tab-index="0"
								>
									<div class="svp-options-item-title">Playback speed</div>
									<div class="svp-icon svp-icon-close svp-page-close"></div>
								</div>
								<div class="svp-options-page-items">
									<div
										class="svp-options-item"
										data="0.5"
										aria-label="0.5x"
										role="button"
										tab-index="0"
									>
										<div class="svp-icon svp-icon-done"></div>
										<span>0.5x</span>
									</div>
									<div
										class="svp-options-item"
										data="0.75"
										aria-label="0.75x"
										role="button"
										tab-index="0"
									>
										<div class="svp-icon svp-icon-done"></div>
										<span>0.75x</span>
									</div>
									<div
										class="svp-options-item svp-options-item--active"
										data="1"
										aria-label="Normal"
										role="button"
										tab-index="0"
									>
										<div class="svp-icon svp-icon-done"></div>
										<span>Normal</span>
									</div>
									<div
										class="svp-options-item"
										data="1.25"
										aria-label="1.25x"
										role="button"
										tab-index="0"
									>
										<div class="svp-icon svp-icon-done"></div>
										<span>1.25x</span>
									</div>
									<div
										class="svp-options-item"
										data="1.5"
										aria-label="1.5x"
										role="button"
										tab-index="0"
									>
										<div class="svp-icon svp-icon-done"></div>
										<span>1.5x</span>
									</div>
									<div
										class="svp-options-item"
										data="2"
										aria-label="2x"
										role="button"
										tab-index="0"
									>
										<div class="svp-icon svp-icon-done"></div>
										<span>2x</span>
									</div>
								</div>
							</div>
							<div class="svp-options-page" tab-index="0">
								<div
									class="svp-options-item svp-options-item--header"
									aria-label="Video quality"
									role="button"
									tab-index="0"
								>
									<div class="svp-options-item-title">Video quality</div>
									<div class="svp-icon svp-icon-close svp-page-close"></div>
								</div>
								<div class="svp-options-page-items">
									<div
										class="svp-options-item svp-options-item--active"
										data="1280"
										aria-label="1280<sup>HD</sup>"
										role="button"
										tab-index="0"
									>
										<div class="svp-icon svp-icon-done"></div>
										<span>1280<sup>HD</sup></span>
									</div>
									<div
										class="svp-options-item"
										data="640"
										aria-label="640"
										role="button"
										tab-index="0"
									>
										<div class="svp-icon svp-icon-done"></div>
										<span>640</span>
									</div>
								</div>
							</div>
						</div>
						<div class="svp-unmute-overlay">
							<div class="svp-button-unmute">
								<div class="svp-icon svp-icon-volume-mute"></div>
								<span class="svp-unmute-text">Click to unmute</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script
			src="https://ui-statics-cf.streamable.com/player/_next/static/chunks/webpack-9496c370f21167ff.js"
			async=""
		></script>
		<script>
			;(self.__next_f = self.__next_f || []).push([0])
			self.__next_f.push([2, null])
		</script>
		<script>
			self.__next_f.push([
				1,
				'1:HL["https://ui-statics-cf.streamable.com/player/_next/static/media/3534416bbfdcc9be-s.p.woff2","font",{"crossOrigin":"","type":"font/woff2"}]\n2:HL["https://ui-statics-cf.streamable.com/player/_next/static/css/d8cc49bdd1092006.css","style"]\n0:"$L3"\n'
			])
		</script>
		<script>
			self.__next_f.push([
				1,
				'4:I[29431,[],""]\n6:I[58794,[],""]\n7:I[31573,["6584","static/chunks/6584-0f988779d124bdf8.js","4278","static/chunks/4278-06e7cf0f36cc9961.js","3185","static/chunks/app/layout-60488b1eba6a34b1.js"],""]\n8:I[99684,["6584","static/chunks/6584-0f988779d124bdf8.js","4278","static/chunks/4278-06e7cf0f36cc9961.js","3185","static/chunks/app/layout-60488b1eba6a34b1.js"],""]\n9:I[57188,[],""]\na:I[63900,[],""]\n'
			])
		</script>
		<script>
			self.__next_f.push([
				1,
				'3:[[["$","link","0",{"rel":"stylesheet","href":"https://ui-statics-cf.streamable.com/player/_next/static/css/d8cc49bdd1092006.css","precedence":"next","crossOrigin":"$undefined"}]],["$","$L4",null,{"buildId":"lz4XiwXvobQdHnz0Q1QtO","assetPrefix":"https://ui-statics-cf.streamable.com/player","initialCanonicalUrl":"/o/2zsmq8","initialTree":["",{"children":["o",{"children":[["shortcode","2zsmq8","d"],{"children":["__PAGE__",{}]}]}]},"$undefined","$undefined",true],"initialHead":[false,"$L5"],"globalErrorComponent":"$6","children":[null,["$","html",null,{"lang":"en","className":"__className_6fe9f1 __variable_6fe9f1","children":[["$","head",null,{"children":[["$","$L7",null,{"src":"https://www.googletagmanager.com/gtag/js?id=G-P6QBGXDK3N"}],["$","$L7",null,{"id":"google-analytics","children":"\\n            window.dataLayer = window.dataLayer || [];\\n            function gtag(){ dataLayer.push(arguments); }\\n            gtag(\'js\', new Date());\\n            gtag(\'config\', \'G-P6QBGXDK3N\', {\\n                page_path: window.location.pathname\\n            });\\n        "}]]}],["$","body",null,{"className":"overscroll-none","children":["$","$L8",null,{"children":["$","$L9",null,{"parallelRouterKey":"children","segmentPath":["children"],"loading":"$undefined","loadingStyles":"$undefined","hasLoading":false,"error":"$undefined","errorStyles":"$undefined","template":["$","$La",null,{}],"templateStyles":"$undefined","notFound":["$","div",null,{"className":"flex flex-col items-center justify-center py-2 px-5 max-w-4xl gap-y-10 mx-auto","children":["$","h2",null,{"className":"text-xl font-semibold text-gray-300 pt-1","children":"Not found"}]}],"notFoundStyles":[],"childProp":{"current":["$","$L9",null,{"parallelRouterKey":"children","segmentPath":["children","o","children"],"loading":"$undefined","loadingStyles":"$undefined","hasLoading":false,"error":"$undefined","errorStyles":"$undefined","template":["$","$La",null,{}],"templateStyles":"$undefined","notFound":"$undefined","notFoundStyles":"$undefined","childProp":{"current":["$","$L9",null,{"parallelRouterKey":"children","segmentPath":["children","o","children",["shortcode","2zsmq8","d"],"children"],"loading":"$undefined","loadingStyles":"$undefined","hasLoading":false,"error":"$undefined","errorStyles":"$undefined","template":["$","$La",null,{}],"templateStyles":"$undefined","notFound":"$undefined","notFoundStyles":"$undefined","childProp":{"current":["$Lb","$Lc",null],"segment":"__PAGE__"},"styles":[]}],"segment":["shortcode","2zsmq8","d"]},"styles":[]}],"segment":"o"},"styles":[]}]}]}]]}],null]}]]\n'
			])
		</script>
		<script>
			self.__next_f.push([
				1,
				'd:I[81296,["6584","static/chunks/6584-0f988779d124bdf8.js","4278","static/chunks/4278-06e7cf0f36cc9961.js","9460","static/chunks/9460-89581a80226b151c.js","4250","static/chunks/4250-7b21d4501639c665.js","2484","static/chunks/2484-09cb801118a18f76.js","9834","static/chunks/9834-53aef711856c5978.js","8325","static/chunks/app/o/%5Bshortcode%5D/page-0caa31ab835d71dc.js"],"Providers"]\ne:I[35690,["6584","static/chunks/6584-0f988779d124bdf8.js","4278","static/chunks/4278-06e7cf0f36cc9961.js","9460","static/chunks/'
			])
		</script>
		<script>
			self.__next_f.push([
				1,
				'9460-89581a80226b151c.js","4250","static/chunks/4250-7b21d4501639c665.js","2484","static/chunks/2484-09cb801118a18f76.js","9834","static/chunks/9834-53aef711856c5978.js","8325","static/chunks/app/o/%5Bshortcode%5D/page-0caa31ab835d71dc.js"],"EmbeddedVideoContainer"]\n'
			])
		</script>
		<script>
			self.__next_f.push([
				1,
				'c:["$","div",null,{"id":"loop-theme-variables-container","style":{"--loop-theme-name":"light","--loop-surface-primary":"#F2F2F7","--loop-surface-secondary":"#FFFFFF","--loop-surface-tertiary":"#F2F2F7","--loop-outline-primary":"#D1D1D6","--loop-outline-secondary":"#E5E5EA","--loop-outline-tertiary":"#E5E5EA","--loop-label-primary":"#1C1C1E","--loop-label-secondary":"#1C1C1EA3","--loop-label-tertiary":"#1C1C1E61","--loop-state-primary":"#1C1C1E14","--loop-state-secondary":"#1C1C1E1F","--loop-state-tertiary":"#1C1C1E29","--loop-chart-sequential-discrete-blue-50":"#EBF4FF","--loop-chart-sequential-discrete-blue-100":"#CCE7FF","--loop-chart-sequential-discrete-blue-200":"#ACD9FF","--loop-chart-sequential-discrete-blue-300":"#8BCAFF","--loop-chart-sequential-discrete-blue-400":"#69BAFF","--loop-chart-sequential-discrete-blue-500":"#3399FF","--loop-chart-sequential-discrete-blue-600":"#007AFF","--loop-chart-sequential-discrete-blue-700":"#005FC6","--loop-chart-sequential-discrete-blue-800":"#00438C","--loop-chart-sequential-discrete-blue-900":"#002853","--loop-chart-sequential-discrete-blue-950":"#000C19"},"children":["$","$Ld",null,{"children":["$","$Le",null,{"video":{"shortcode":"2zsmq8","status":2,"width":720,"height":1280,"date_added":1717582405,"title":"Узнал страшную правду 30ти летнего мотора Форда😱","files":{"mp4-mobile":{"height":640,"width":360,"size":10941454,"bitrate":1531746,"framerate":30,"error":null,"percent":100,"audio_channels":2,"duration":57.133333,"job_id":"mp4-mobile-2zsmq8-0","execution_time":33603,"bucket":"streamables-east","reencoded":true,"preset":"mp4-mobile","screenshot_bucket":null,"input_metadata":{"profile":"Main","video_codec_name":"h264","width":720,"height":1280,"r_frame_rate":"2997/100","avg_frame_rate":"2997/100","refs":1,"has_b_frames":1,"level":31,"rotation":0,"constant_frame_rate":true,"fps":"2997","duration":57.12379,"bitrate":2334835,"size":16677797,"audio_channels":2,"audio_codec_name":"aac","audio_sample_rate":44100,"audio_codec_tag":"mp4a","audio_channel_layout":"stereo","has_subtitles":false,"real_framerate":29.97,"framerate":29.97,"is_stream":false},"name":"mp4-mobile/2zsmq8.mp4","status":2,"thumbnail_file_name":null,"poster_file_name":null,"version":0,"url":"//cdn-cf-east.streamable.com/video/mp4-mobile/2zsmq8.mp4?Expires=1717847797185\u0026Key-Pair-Id=APKAIEYUVEN4EVB2OKEQ\u0026Signature=Septp4Rpw8aMTsPG3yH87hdDnX2x-YigVqJH6e6MTbJnAyFbKHsI2RKETC-GXyRWeMhNCJ1uOB6lVRsGGwAGOV6sRZpWQGjhv5gKPaV~dPKViYPJTC4MqoXcaKv7rbbvBGs0lw4Z5laHr56uFaroRttrBFpH-DmxMhFnWgV5AZukYvkQKbbbrPSZlk27jW6rI5KxUp2ZBmupFMOA-NGoFpcR2c6TzZBdc40A22QO~pZr8HGi04ZAup0FxZcPF6mOUmvFcej~Aee6Ots1UCPuzhE~6NBeTIiNltFq8TVbK3wcp1iURV04HrbEKrTykGQvwvryUPHd095uAb6bWG-TPA__","poster_url":null,"thumbnail_url":null,"dynamic_thumbnail_url":null,"date_added":1717582441},"mp4":{"height":1280,"width":720,"size":16708515,"bitrate":2339104,"framerate":30,"error":null,"percent":100,"audio_channels":2,"duration":57.12379,"job_id":"mp4-2zsmq8-0","execution_time":1310,"bucket":"streamables-east","reencoded":false,"preset":"mp4","screenshot_bucket":"streamables-east","input_metadata":{"profile":"Main","video_codec_name":"h264","width":720,"height":1280,"r_frame_rate":"2997/100","avg_frame_rate":"2997/100","refs":1,"has_b_frames":1,"level":31,"rotation":0,"constant_frame_rate":true,"fps":"2997","duration":57.12379,"bitrate":2334835,"size":16677797,"audio_channels":2,"audio_codec_name":"aac","audio_sample_rate":44100,"audio_codec_tag":"mp4a","audio_channel_layout":"stereo","has_subtitles":false,"real_framerate":29.97,"framerate":29.97,"is_stream":false},"name":"mp4/2zsmq8.mp4","status":2,"thumbnail_file_name":"2zsmq8.jpg","poster_file_name":"2zsmq8_first.jpg","version":0,"url":"//cdn-cf-east.streamable.com/video/mp4/2zsmq8.mp4?Expires=1717847797195\u0026Key-Pair-Id=APKAIEYUVEN4EVB2OKEQ\u0026Signature=PNL8IFCKN~ttED5Z0Hg57B2O2reJkTE7oVby5XV9HhMDiNifDwAWoYaQuiJLT60njzJ4UJxAx567AIMuUi9Yw-h1Ah5f3xTrBQE2aRdUl~yTs~w-YRqDkgcWHjW6ziOTozOLFKE3IYmU4vUFhcjsL9rMf4~AgAaUHQsX3jUmy6jPEiADOOF5zLMbuKxZmjBcTqFVNU7IiBkUdk9epnFS9Zkx6IXglRks7SGqzxhfVzypNvDR02q6UHY0QVfAgpOg6FD55F2OJs7b8Gw88X-bDJLMOU81Jg6wfnrnscT-IuwBahZhbaFUiQSAksHoNgh3LvU-oh4pKpkzmSRuO2QGGQ__","poster_url":"https://cdn-cf-east.streamable.com/image/2zsmq8_first.jpg?Expires=1717847797196\u0026Key-Pair-Id=APKAIEYUVEN4EVB2OKEQ\u0026Signature=KoSI9KZ8AMKhdVK2tBnPW2z9zh9A5nzMlUYwBDLk5EN2Hx~hUGWJvenGF5XLg6JL4CowkHc3ONC9SesiAVnyI~IUmUMDRo-Xmj5pQWtbql1S0JrFmjWlNFyYDIcQMULO-mOWbyBLef984YybwHQvH7qvR70SjDqak~Wz6MV~QL4KKjbEux7MThyUNFGKzp8a-If72CLHMf~TO0jI0EbAbikjTGAOgu-PQr-AgwzLeKK9eYWJAfYm-tjWU3JGnOG0RELVH73EjgQUvct-KGsxYhBt3rWxDzzs4OPgrP8SGRzDJI7zNytCKOb84sK3-giEKHhynQXXuW1RxBP2Gw4aaw__","thumbnail_url":"https://cdn-cf-east.streamable.com/image/2zsmq8.jpg?Expires=1717847797198\u0026Key-Pair-Id=APKAIEYUVEN4EVB2OKEQ\u0026Signature=aWntWJHsA~k0ROlWFTCz~4gZ2kB~K2KV6f-CSP5ANUUxvvEBDG2IX2bPsBIPbSkVSYfDso7cedGXhrV603weGfcdYa8oVJqGNo6xtpzQmvsN4n8Tp-cPaolMIvpkMwMi6LrDDxzb4UfpZXrgYEFrwzmB3klFR-Sg2Bia-vDeNED~kWSjOlaOiYaDVM2c6LrY969Qg4Qy42LiIO~vf~k3d3ZyZwBFppwd0eQv8rHVISLJ1-v4J6mPxkco4HE6y1XVjHTdcMvl7KVvuViL2q4WSlTJd03UwsHhRRaQJwHZnN9Thj4Hk9H7HbNam7InCGqdzidYfJWIkNqcLFzoJSZcfw__","dynamic_thumbnail_url":"//cdn-cf-east.streamable.com/image/2zsmq8.jpg","date_added":1717582439}},"thumbnail_url":"https://cdn-cf-east.streamable.com/image/2zsmq8.jpg?Expires=1717847797198\u0026Key-Pair-Id=APKAIEYUVEN4EVB2OKEQ\u0026Signature=aWntWJHsA~k0ROlWFTCz~4gZ2kB~K2KV6f-CSP5ANUUxvvEBDG2IX2bPsBIPbSkVSYfDso7cedGXhrV603weGfcdYa8oVJqGNo6xtpzQmvsN4n8Tp-cPaolMIvpkMwMi6LrDDxzb4UfpZXrgYEFrwzmB3klFR-Sg2Bia-vDeNED~kWSjOlaOiYaDVM2c6LrY969Qg4Qy42LiIO~vf~k3d3ZyZwBFppwd0eQv8rHVISLJ1-v4J6mPxkco4HE6y1XVjHTdcMvl7KVvuViL2q4WSlTJd03UwsHhRRaQJwHZnN9Thj4Hk9H7HbNam7InCGqdzidYfJWIkNqcLFzoJSZcfw__","is_owner":false,"remove_branding":false,"plays":5,"percent":100,"plan_limits":{"is_exceeding_free_plan_limits":false,"is_exceeding_free_plan_duration_limit":false,"is_exceeding_free_plan_size_limit":false,"should_restrict_playback":false,"has_owner_without_plan":false},"captions":[],"storyboards":[],"is_hidden_on_streamable":false,"is_domain_restricted":false,"is_domain_allowed":false,"flag":"none","show_ad":true,"show_logo_in_player_controls":true,"is_expired":false,"expires":1717755205,"is_private":false,"is_password_protected":false,"was_password_answered":false,"allow_sharing":true,"allow_download":false,"hide_view_count":false,"customization":{"player_color":"#FFFFFF","watermark_image_url":null,"watermark_link":null}}}]}]}]\n'
			])
		</script>
		<script>
			self.__next_f.push([
				1,
				'5:[["$","meta","0",{"charSet":"utf-8"}],["$","title","1",{"children":"Узнал страшную правду 30ти летнего мотора Форда😱 - Embed"}],["$","meta","2",{"name":"description","content":"Watch this embedded Streamable video."}],["$","meta","3",{"name":"viewport","content":"width=device-width, initial-scale=1"}],["$","link","4",{"rel":"canonical","href":"https://streamable.com/2zsmq8"}],["$","link","5",{"rel":"alternate","type":"application/json+oembed","title":"oEmbed","href":"https://api.streamable.com/oembed?url=https://streamable.com/2zsmq8"}],["$","meta","6",{"property":"og:title","content":"Узнал страшную правду 30ти летнего мотора Форда😱 - Embed"}],["$","meta","7",{"property":"og:url","content":"https://streamable.com/2zsmq8"}],["$","meta","8",{"property":"og:site_name","content":"Streamable"}],["$","meta","9",{"property":"og:image","content":"https://cdn-cf-east.streamable.com/image/2zsmq8.jpg?Expires=1717847797198\u0026Key-Pair-Id=APKAIEYUVEN4EVB2OKEQ\u0026Signature=aWntWJHsA~k0ROlWFTCz~4gZ2kB~K2KV6f-CSP5ANUUxvvEBDG2IX2bPsBIPbSkVSYfDso7cedGXhrV603weGfcdYa8oVJqGNo6xtpzQmvsN4n8Tp-cPaolMIvpkMwMi6LrDDxzb4UfpZXrgYEFrwzmB3klFR-Sg2Bia-vDeNED~kWSjOlaOiYaDVM2c6LrY969Qg4Qy42LiIO~vf~k3d3ZyZwBFppwd0eQv8rHVISLJ1-v4J6mPxkco4HE6y1XVjHTdcMvl7KVvuViL2q4WSlTJd03UwsHhRRaQJwHZnN9Thj4Hk9H7HbNam7InCGqdzidYfJWIkNqcLFzoJSZcfw__"}],["$","meta","10",{"property":"og:image:width","content":"720"}],["$","meta","11",{"property":"og:image:height","content":"1280"}],["$","meta","12",{"property":"og:image:alt","content":"Узнал страшную правду 30ти летнего мотора Форда😱 - Embed"}],["$","meta","13",{"property":"og:image:secure_url","content":"https://cdn-cf-east.streamable.com/image/2zsmq8.jpg?Expires=1717847797198\u0026Key-Pair-Id=APKAIEYUVEN4EVB2OKEQ\u0026Signature=aWntWJHsA~k0ROlWFTCz~4gZ2kB~K2KV6f-CSP5ANUUxvvEBDG2IX2bPsBIPbSkVSYfDso7cedGXhrV603weGfcdYa8oVJqGNo6xtpzQmvsN4n8Tp-cPaolMIvpkMwMi6LrDDxzb4UfpZXrgYEFrwzmB3klFR-Sg2Bia-vDeNED~kWSjOlaOiYaDVM2c6LrY969Qg4Qy42LiIO~vf~k3d3ZyZwBFppwd0eQv8rHVISLJ1-v4J6mPxkco4HE6y1XVjHTdcMvl7KVvuViL2q4WSlTJd03UwsHhRRaQJwHZnN9Thj4Hk9H7HbNam7InCGqdzidYfJWIkNqcLFzoJSZcfw__"}],["$","meta","14",{"property":"og:video:url","content":"https://cdn-cf-east.streamable.com/video/mp4/2zsmq8.mp4?Expires=1717847797195\u0026Key-Pair-Id=APKAIEYUVEN4EVB2OKEQ\u0026Signature=PNL8IFCKN~ttED5Z0Hg57B2O2reJkTE7oVby5XV9HhMDiNifDwAWoYaQuiJLT60njzJ4UJxAx567AIMuUi9Yw-h1Ah5f3xTrBQE2aRdUl~yTs~w-YRqDkgcWHjW6ziOTozOLFKE3IYmU4vUFhcjsL9rMf4~AgAaUHQsX3jUmy6jPEiADOOF5zLMbuKxZmjBcTqFVNU7IiBkUdk9epnFS9Zkx6IXglRks7SGqzxhfVzypNvDR02q6UHY0QVfAgpOg6FD55F2OJs7b8Gw88X-bDJLMOU81Jg6wfnrnscT-IuwBahZhbaFUiQSAksHoNgh3LvU-oh4pKpkzmSRuO2QGGQ__"}],["$","meta","15",{"property":"og:video:secure_url","content":"https://api-f.streamable.com/api/v1/videos/2zsmq8/mp4"}],["$","meta","16",{"property":"og:video:type","content":"video/mp4"}],["$","meta","17",{"property":"og:video:width","content":"720"}],["$","meta","18",{"property":"og:video:height","content":"1280"}],["$","meta","19",{"property":"og:type","content":"video.other"}],["$","meta","20",{"name":"twitter:card","content":"player"}],["$","meta","21",{"name":"twitter:site","content":"@streamable"}],["$","meta","22",{"name":"twitter:title","content":"Узнал страшную правду 30ти летнего мотора Форда😱 - Embed"}],["$","meta","23",{"name":"twitter:description","content":"Watch this embedded Streamable video."}],["$","meta","24",{"name":"twitter:image","content":"https://cdn-cf-east.streamable.com/image/2zsmq8.jpg?Expires=1717847797198\u0026Key-Pair-Id=APKAIEYUVEN4EVB2OKEQ\u0026Signature=aWntWJHsA~k0ROlWFTCz~4gZ2kB~K2KV6f-CSP5ANUUxvvEBDG2IX2bPsBIPbSkVSYfDso7cedGXhrV603weGfcdYa8oVJqGNo6xtpzQmvsN4n8Tp-cPaolMIvpkMwMi6LrDDxzb4UfpZXrgYEFrwzmB3klFR-Sg2Bia-vDeNED~kWSjOlaOiYaDVM2c6LrY969Qg4Qy42LiIO~vf~k3d3ZyZwBFppwd0eQv8rHVISLJ1-v4J6mPxkco4HE6y1XVjHTdcMvl7KVvuViL2q4WSlTJd03UwsHhRRaQJwHZnN9Thj4Hk9H7HbNam7InCGqdzidYfJWIkNqcLFzoJSZcfw__"}],["$","meta","25",{"name":"twitter:player","content":"https://streamable.com/t/2zsmq8"}],["$","meta","26",{"name":"twitter:player:stream","content":"https://streamable.com/t/2zsmq8"}],["$","meta","27",{"name":"twitter:player:width","content":"720"}],["$","meta","28",{"name":"twitter:player:height","content":"1280"}],["$","link","29",{"rel":"amphtml","href":"https://streamable.com/amp_player/2zsmq8"}],["$","meta","30",{"name":"next-size-adjust"}]]\n'
			])
		</script>
		<script>
			self.__next_f.push([1, 'b:null\n'])
		</script>
		<script
			src="https://www.googletagmanager.com/gtag/js?id=G-P6QBGXDK3N"
			data-nscript="afterInteractive"
		></script>
		<script id="google-analytics" data-nscript="afterInteractive">
			window.dataLayer = window.dataLayer || []
			function gtag() {
				dataLayer.push(arguments)
			}
			gtag('js', new Date())
			gtag('config', 'G-P6QBGXDK3N', {
				page_path: window.location.pathname
			})
		</script>
		<next-route-announcer style="position: absolute"></next-route-announcer>
	</body>
</html>
