<html lang="en" class="__className_6fe9f1 __variable_6fe9f1">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link
			rel="preload"
			href="https://ui-statics-cf.streamable.com/player/_next/static/media/3534416bbfdcc9be-s.p.woff2"
			as="font"
			crossorigin=""
			type="font/woff2"
	/>
	<link
			rel="stylesheet"
			href="https://ui-statics-cf.streamable.com/player/_next/static/css/d8cc49bdd1092006.css"
			data-precedence="next"
	/>
	<link
			rel="preload"
			as="script"
			fetchpriority="low"
			href="https://ui-statics-cf.streamable.com/player/_next/static/chunks/webpack-9496c370f21167ff.js"
	/>
	<script
			src="https://ui-statics-cf.streamable.com/player/_next/static/chunks/b503d721-5a3dce0fec874dfc.js"
			async=""
	></script>
	<script
			src="https://ui-statics-cf.streamable.com/player/_next/static/chunks/1515-6b2c8075fc930cf9.js"
			async=""
	></script>
	<script
			src="https://ui-statics-cf.streamable.com/player/_next/static/chunks/main-app-61cdc64ecbe6c716.js"
			async=""
	></script>
	<script
			src="https://ui-statics-cf.streamable.com/player/_next/static/chunks/6584-0f988779d124bdf8.js"
			async=""
	></script>
	<script
			src="https://ui-statics-cf.streamable.com/player/_next/static/chunks/4278-06e7cf0f36cc9961.js"
			async=""
	></script>
	<script
			src="https://ui-statics-cf.streamable.com/player/_next/static/chunks/app/layout-60488b1eba6a34b1.js"
			async=""
	></script>
	<script
			src="https://ui-statics-cf.streamable.com/player/_next/static/chunks/9460-89581a80226b151c.js"
			async=""
	></script>
	<script
			src="https://ui-statics-cf.streamable.com/player/_next/static/chunks/4250-7b21d4501639c665.js"
			async=""
	></script>
	<script
			src="https://ui-statics-cf.streamable.com/player/_next/static/chunks/app/o/%5Bshortcode%5D/page-0caa31ab835d71dc.js"
			async=""
	></script>
	<link
			rel="preload"
			href="https://www.googletagmanager.com/gtag/js?id=G-P6QBGXDK3N"
			as="script"
	/>
	<title>Узнал страшную правду 30ти летнего мотора Форда😱 - Embed</title>
	<meta name="description" content="Watch this embedded Streamable video." />
	<link rel="canonical" href="https://streamable.com/2zsmq8" />
	<link
			rel="alternate"
			type="application/json+oembed"
			title="oEmbed"
			href="https://api.streamable.com/oembed?url=https://streamable.com/2zsmq8"
	/>
	<meta
			property="og:title"
			content="Узнал страшную правду 30ти летнего мотора Форда😱 - Embed"
	/>
	<meta property="og:url" content="https://streamable.com/2zsmq8" />
	<meta property="og:site_name" content="Streamable" />
	<meta
			property="og:image"
			content="https://cdn-cf-east.streamable.com/image/2zsmq8.jpg?Expires=1717847797198&amp;Key-Pair-Id=APKAIEYUVEN4EVB2OKEQ&amp;Signature=aWntWJHsA~k0ROlWFTCz~4gZ2kB~K2KV6f-CSP5ANUUxvvEBDG2IX2bPsBIPbSkVSYfDso7cedGXhrV603weGfcdYa8oVJqGNo6xtpzQmvsN4n8Tp-cPaolMIvpkMwMi6LrDDxzb4UfpZXrgYEFrwzmB3klFR-Sg2Bia-vDeNED~kWSjOlaOiYaDVM2c6LrY969Qg4Qy42LiIO~vf~k3d3ZyZwBFppwd0eQv8rHVISLJ1-v4J6mPxkco4HE6y1XVjHTdcMvl7KVvuViL2q4WSlTJd03UwsHhRRaQJwHZnN9Thj4Hk9H7HbNam7InCGqdzidYfJWIkNqcLFzoJSZcfw__"
	/>
	<meta property="og:image:width" content="720" />
	<meta property="og:image:height" content="1280" />
	<meta
			property="og:image:alt"
			content="Узнал страшную правду 30ти летнего мотора Форда😱 - Embed"
	/>
	<meta
			property="og:image:secure_url"
			content="https://cdn-cf-east.streamable.com/image/2zsmq8.jpg?Expires=1717847797198&amp;Key-Pair-Id=APKAIEYUVEN4EVB2OKEQ&amp;Signature=aWntWJHsA~k0ROlWFTCz~4gZ2kB~K2KV6f-CSP5ANUUxvvEBDG2IX2bPsBIPbSkVSYfDso7cedGXhrV603weGfcdYa8oVJqGNo6xtpzQmvsN4n8Tp-cPaolMIvpkMwMi6LrDDxzb4UfpZXrgYEFrwzmB3klFR-Sg2Bia-vDeNED~kWSjOlaOiYaDVM2c6LrY969Qg4Qy42LiIO~vf~k3d3ZyZwBFppwd0eQv8rHVISLJ1-v4J6mPxkco4HE6y1XVjHTdcMvl7KVvuViL2q4WSlTJd03UwsHhRRaQJwHZnN9Thj4Hk9H7HbNam7InCGqdzidYfJWIkNqcLFzoJSZcfw__"
	/>
	<meta
			property="og:video:url"
			content="https://cdn-cf-east.streamable.com/video/mp4/2zsmq8.mp4?Expires=1717847797195&amp;Key-Pair-Id=APKAIEYUVEN4EVB2OKEQ&amp;Signature=PNL8IFCKN~ttED5Z0Hg57B2O2reJkTE7oVby5XV9HhMDiNifDwAWoYaQuiJLT60njzJ4UJxAx567AIMuUi9Yw-h1Ah5f3xTrBQE2aRdUl~yTs~w-YRqDkgcWHjW6ziOTozOLFKE3IYmU4vUFhcjsL9rMf4~AgAaUHQsX3jUmy6jPEiADOOF5zLMbuKxZmjBcTqFVNU7IiBkUdk9epnFS9Zkx6IXglRks7SGqzxhfVzypNvDR02q6UHY0QVfAgpOg6FD55F2OJs7b8Gw88X-bDJLMOU81Jg6wfnrnscT-IuwBahZhbaFUiQSAksHoNgh3LvU-oh4pKpkzmSRuO2QGGQ__"
	/>
	<meta
			property="og:video:secure_url"
			content="https://api-f.streamable.com/api/v1/videos/2zsmq8/mp4"
	/>
	<meta property="og:video:type" content="video/mp4" />
	<meta property="og:video:width" content="720" />
	<meta property="og:video:height" content="1280" />
	<meta property="og:type" content="video.other" />

</head>
<body class="overscroll-none">
</body>
</html>
